<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>合同信息</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div id="toolbar">
                        <php> if(display_menu('/admin/Market/addContract')){ </php>
                        <a class="btn btn-success J_menuItem" href="/admin/Market/addContract" >
                            新增
                        </a>
                        <php> } </php>
                        <php> if(display_menu('/admin/Market/editContract')){ </php>
                        <a id="edit" class="btn btn-primary  J_menuItem" disabled="true">
                            编辑
                        </a>
                        <!--button id="edit" class="btn btn-primary" disabled>
                            编辑
                        </button-->
                        <php> } </php>

                        <php> if(display_menu('/admin/Market/plan')){ </php>
                        <button id="plan" class="btn btn-primary" disabled>
                            收款计划
                        </button>
                        <php> } </php>
                        <php> if(display_menu('/admin/Market/seeContract')){ </php>
                        <button id="see" class="btn btn-primary" disabled>
                            查看合同
                        </button>
                        <php> } </php>

                        <php> if(display_menu('/admin/Market/delContract')){ </php>
                        <button id="remove" class="btn btn-danger" disabled>
                            <i class="glyphicon glyphicon-remove"></i> 删除
                        </button>
                        <php> } </php>

                        <label class="control-label">签约时间：</label>
                        <input class="form-control input-huge" id="TimeC" name="TimeC" value="" type="text" placeholder="签约时间"> -
                        <input class="form-control input-huge" id="TimeD" name="TimeD" value="" type="text" placeholder="签约时间">
                        <button id="searchButton" class="btn btn-success">
                            搜索
                        </button>
                    </div>
                    <table id="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-columns="true"
                           data-show-export="true"
                           data-minimum-count-columns="5"
                           data-pagination="true"
                           data-id-field="ContractID"
                           data-sort-name="SignTime"
                           data-detail-formatter="detailFormatter"
                           data-click-select = true
                           data-sort-order="desc"
                           data-page-size = "10"
                           data-page-number = "1"
                           data-page-list="[10,20,50,100,ALL]"
                           data-show-footer="false"
                           data-side-pagination="server"
                           data-url="/admin/Market/loadContract"
                           data-response-handler="responseHandler">
                    </table>

                </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var $table = $('#table'), $edit=$('#edit');$remove = $('#remove'), selections = [];
        var $plan = $('#plan');
        var $see = $('#see');
        function initTable() {
            $table.bootstrapTable({
                height: getHeight(),
                clickToSelect:true,
                formatLoadingMessage:function(){
                    return '正在加载，请稍候...';
                },
                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    return '第 ' + pageFrom + ' - ' + pageTo + ' 记录，共 ' + totalRows + ' 条记录';
                },
                formatRecordsPerPage:function(pageNumber){
                    return '每页 '+pageNumber + ' 记录';
                },
                //queryParams: queryParams, //参数
                columns: [
                    [
                        //{field: 'Number', title: 'Number', formatter: function (value, row, index) {return index + 1;}},
                        {checkbox: true, align: 'center', valign: 'middle'},
                        //{field: 'Sort',title: '排序', align: 'center', valign: 'middle', sortable: true,},
                        {field: 'CustomerName',title: '客户', align: 'left',halign:'center'},
                        {field: 'CttTypeName', title: '合同类型', align: 'center'},
                        {field: 'CttNumber', title: '合同编号', align: 'left',halign:'center'},
                        {field: 'ProductName', title: '购买产品', align: 'center'},
                        {field: 'Identifier', title: '客户编号', align: 'left',halign:'center'},
                        {field: 'Amount', title: '总金额', align: 'center'},
                        {field: 'Charge', title: '维护费用', align: 'center'},
                        {field: 'CtmSign', title: '客户签约人', align: 'center'},
                        {field: 'OwnSign', title: '我方签约人', align: 'center'},
                        {field: 'SignTime', title: '签约时间',align: 'center',sortable: true,},
                        {field: 'BeginTime', title: '生效时间', align: 'center'},
                        {field: 'FinishTime', title: '结束时间', align: 'center'},
                    ]
                ]
            });
            // sometimes footer render error.
            setTimeout(function () {
                $table.bootstrapTable('resetView');
            }, 200);
            $table.on('check.bs.table uncheck.bs.table ' +
                    'check-all.bs.table uncheck-all.bs.table', function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
                var checkLen = $table.bootstrapTable('getSelections').length;

                if(checkLen == 1){
                    $plan.prop('disabled',false);
                    $see.prop('disabled',false);
                    $edit.prop('disabled',false);
                  $edit.attr("href","/admin/Market/editContract?id="+getIdSelections());

                    $edit.removeAttr("disabled");
                    $edit.remove("disabled");
                }else{
                    $edit.removeAttr("disabled",true);
                    $see.prop('disabled',true);
              //      $edit.prop('disabled',true);
                    $plan.prop('disabled',true);
                }
                selections = getIdSelections();
            });
            $remove.click(function () {
                var ids = getIdSelections();
                var param = {ids:ids};
                confirmDelete("/admin/Market/delContract",param,$table,$remove,"ContractID",ids);
            });

        //    $edit.click(function(){
        //        $("#addCustomer").modal({
         //           remote: "/admin/Market/editContract?id=" + getIdSelections()+'&t=' + Math.random(1000)
        //        });
         //   });
            $plan.click(function(){
                $("#addCustomer").modal({
                    remote: "/admin/Market/plan?id=" + getIdSelections()+'&t=' + Math.random(1000)
                });
            });
            $see.click(function(){
                $("#addCustomer").modal({
                    remote: "/admin/Market/seeContract?id=" + getIdSelections()+'&t=' + Math.random(1000)
                });
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView', {
                    height: getHeight()
                });
            });
        }

        function getIdSelections(param) {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.ContractID;
            });
        }
        $(function () {

            $('#addCustomer').on('hide.bs.modal', function () {
                $(this).removeData("bs.modal");
                $see.prop('disabled',true);
                $plan.prop('disabled',true);
                $remove.prop('disabled',true);
                $table.bootstrapTable('refresh', {silent: true});
            });
            eachSeries(getScript, initTable);
            laydate({elem: '#TimeC', format: 'YYYY-MM-DD hh:mm:ss', event: 'focus'});
            laydate({elem: '#TimeD', format: 'YYYY-MM-DD hh:mm:ss', event: 'focus'});
        });

        $('#searchButton').click(function(){
            search();
        })
        function search(){
            var timeC = $("#TimeC").val();
            var timeD = $("#TimeD").val();
            var str =  '/admin/Market/loadContract?timeC='+timeC+"&timeD="+timeD

            $table.bootstrapTable('refresh', {url: str});
        }
    </script>
</block>