<extend name="Public/base"/>
<block name="body">
    <form class="form-main" id="form-main" action="">
        <table class="form-table" border="0">
            <tr>
                <th>问题类型</th>
                <td>
                    <input type="radio" name="FBtype" checked value="1">系统新功能
                    <input type="radio" name="FBtype" value="2">系统漏洞
                </td>

            </tr>
            <empty name="CustomerID">
                <tr>
                    <th>选择客户</th>
                    <td>
                        <select name="CustomerID" class="form-control">
                            <volist name="cInfo" id="c">
                                <option value="{$c.CustomerID}">
                                {$c.FullName}
                                </option>
                            </volist>
                        </select>
                    </td>

                </tr>
            </empty>
            <tr>
                <th>问题标题</th>
                <td>
                    <input class="form-control" name="Title" style="width:120px;">

                </td>

            </tr>
            <tr>
                <th>问题描述</th>
                <td>

                    <textarea class="form-control" name="Description"></textarea>
                </td>

            </tr>
            <tr>
                <th>优先级别</th>
                <td>
                    <select name="FbPriority" class="form-control">
                        <volist name="Priority" id="f">
                            <option value="{$f.FbPriorityID}">
                            {$f.FbPriorityName}
                            </option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <th>问题备注</th>
                <td>
                    <input class="form-control" name="Note" style="width:240px;">
                </td>

            </tr>
        </table>
    </form>
    <div class="dialog-button-container">
        <div id="dlg-buttons" class="dialog-button">
            <a href="javascript:doSubmit()" class="easyui-linkbutton c6" iconcls="icon-ok" style="width: 90px">提交</a>
            <a href="javascript:top.closeModal()" class="easyui-linkbutton" iconcls="icon-cancel" style="width: 90px">取消</a>
        </div>
    </div>
</block>
<block name="script">
<script>
    var form_validate = $("#form-main").validate(
            {
                rules: {
                    Sort: { digits: true },
                    Content: { required: true},
                }
                , messages: {
                //name:'活动名称不能为空',
                //intro:'活动简介不能为空'
                Sort:'输入整数'
                }
            });
    //提交表单
    function doSubmit() {
        var form_data = $("#form-main").serializeArray();
        //form_data.push({name:"Remark",value:$("#ReMark").val()});
        //前台验证
        if (form_validate.form()) {
            $.post("{$self}", form_data, function (data) {
                show_alert(data.info);
                if (data.status == 1) {
                    top.closeModal();
                }
            }, 'json');
        }
    };
</script>
</block>