<extend name="Public/base"/>
<block name="body">
    <form class="form-main" id="form-main" action="">
        <input type="hidden" name="id" value="{$info.ID}" />
        <table class="form-table" border="0">
            <tr>
                <th width="100px"><i class="required"></i>用户组名称</th>
                <td>
                    <input class="form-control" name="DutyName" value="{$info.DutyName}">
                </td>
            </tr>
            <tr>
                <th>状态</th>
                <td>
                    <input type="radio" name="Status" value="1" checked />正常
                    <input type="radio" name="Status" value="0" <if condition="$info['Status'] eq 0">checked</if> />禁用
                </td>
            </tr>
            <tr>
                <th>描述信息</th>
                <td>
                    <textarea rows="9" id="Description"  class="form-control form-control-xxl">{$info.Description}</textarea>
                </td>
            </tr>
        </table>
    </form>
    <div class="dialog-button-container">
        <div id="dlg-buttons" class="dialog-button">
            <input type="hidden" id="type" value="{$type}">
            <a href="javascript:doSubmit()" class="easyui-linkbutton c6" iconcls="icon-ok" style="width: 90px">提交</a>
            <a href="javascript:top.closeModal()" class="easyui-linkbutton" iconcls="icon-cancel" style="width: 90px">取消</a>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var form_validate = $("#form-main").validate(
                {
                    rules: {
                        DutyName:{  required: true, },
                    }
                    , messages: {
                    //name:'活动名称不能为空',
                    //intro:'活动简介不能为空'
                }
                });
        //提交表单
        function doSubmit() {
            //前台验证
            var form_data = $("#form-main").serializeArray();
            form_data.push({name:"Description",value:$("#Description").val()});
            if (form_validate.form()) {
                $.post("{$self}", form_data, function (data) {
                    show_alert(data.info);
                    if (data.status == 1) {
                        top.closeModal();
                    }
                }, 'json');
            }
        }
    </script>
</block>